@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

body {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    background-color: #1e1e1e;
    width: 100%;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1500px;
    margin: 2rem auto;
}